@import '@styles/variables';

.container {
  position: relative;
  width: 100%;
  padding: 12rem 0;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;

  .bg_left {
    flex: 1.5;
    background: $light-grey;
  }

  .bg_right {
    flex: 3;
  }
}

.content {
  position: relative;
  display: flex;
  width: 77%;
  height: 60rem;
  margin: 0 auto;

  .img_container {
    width: 40%;
    position: relative;
    background: url('../../../../public/about_us.png');
    background-size: cover;
    background-position: top;

    .img_description {
      background: $orange;
      color: $white;
      font-weight: 300;
      width: 20rem;
      padding: 4rem 4rem;
      position: absolute;
      bottom: -5rem;
      left: -4rem;
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }

  .text {
    flex: 1;
    padding-left: 10rem;
    width: 60%;

    h1 {
      font-size: 6rem;
      line-height: 1.2;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.6rem;
      font-weight: 400;
      margin-top: 4rem;
      margin-left: 6rem;
    }

    .button {
      position: relative;
      top: 4rem;
      left: 6rem;

      &:hover {
        .arrow_icon {
          margin-left: 2rem;
        }
      }
    }

    .arrow_icon {
      position: relative;
      top: 0.2rem;
      margin-left: 1rem;
      transition: all 0.2s linear;
    }
  }
}

@media (max-width: 1125px) {
  .content {
    width: 90%;

    .img_container {
      width: 50%;
    }

    .text {
      padding-left: 5rem;
      width: 50%;

      h1 {
        font-size: 4rem;
      }

      p {
        margin-left: 0;
      }

      .button {
        left: 0;
      }
    }
  }
}

@media (max-width: 750px) {
  .content {
    flex-direction: column;
    height: auto;

    .img_container {
      width: 100%;
      height: 60rem;
      margin-bottom: 8rem;

      .img_description {
        left: -2rem;
        bottom: -3rem;
      }
    }

    .text {
      width: 100%;
      padding-left: 0;
    }
  }
}
