@import '@styles/variables';

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;

  height: 90vh;
}

.grey_block {
  position: relative;
  flex: 1;
  display: flex;

  background-color: $light-grey;
}

.white_block {
  flex: 2;
  display: flex;
}

.content {
  display: flex;
  height: 70%;
  position: absolute;
  flex-direction: row;

  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.picture {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  flex: 3;
}

.info_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 15rem;
  color: $white;
  bottom: -4rem;
  left: -0.8rem;
  position: absolute;
  background-color: $orange;
  padding: 1.5rem;
}

.text {
  position: relative;
  height: 100%;
  flex: 4;
}

.title {
  margin-top: 5rem;
  left: -13rem;
  position: relative;
  width: 69rem;
  height: 18rem;
}

//add to description class parameters that will centre content

.description {
  display: flex;
  position: relative;
  width: 55rem;
  height: 13rem;
}
