@import '@styles/variables';

.about_us {
  display: flex;
  position: relative;
  height: 90vh;
}

.bg {
  display: flex;
  width: 100%;

  .bg_left {
    flex: 1;
    background: $light-grey;
  }

  .bg_right {
    flex: 2;
    background: $white;
  }
}

.content {
  position: absolute;
  border: 1px solid red;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  display: flex;
  flex-direction: row;
  .content_left {
    flex: 1;
    height: 100%;
    background: red;
  }

  .content_right {
    flex: 2;
    height: 100%;
    background: blue;
  }
}

// .picture {
//   position: absolute;
//   width: 40%;
//   display: flex;
//   border: dotted;
//   height: 80rem;
//   margin-top: 12rem;
//   margin-left: 22rem;
// }

// .description {
//   margin-top: auto;
//   position: absolute;
//   bottom: -6rem;
//   left: -6rem;
//   width: 40rem;
//   display: flex;
//   border: dotted;
//   height: 29rem;
// }
