@import '@styles/variables';

.why_us {
  height: 37rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  align-items: center;
  justify-content: center;
  display: flex;
  color: $orange;
  margin-top: 10rem;

  height: 4rem;
  width: 56.3rem;
}

.subtitle {
  display: flex;
  padding-left: 30rem;
  padding-right: 30rem;
  flex-wrap: wrap;
  justify-content: center;
}

.subtitle div {
  margin-right: 1rem;
  margin-bottom: 1.6rem;
  order: 1;
  flex-direction: column;
  display: flex;
  height: 2.8rem;
}
