@import '@styles/variables';

.we_offer {
  background: $light-grey;
  padding: 6rem 13.54%;

  .title {
    word-spacing: 100vw;
    margin-left: 8.5rem;
    margin-bottom: 6rem;
  }
}

.content {
  display: flex;
  .content_left {
    flex: 1;
    margin-top: 10rem;
  }

  .content_right {
    flex: 1;
  }
}
