@import 'variables';

/* Set up rem units */
html {
  font-size: 62.5%;
}

// Fonts
@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Regular.ttf');
  src: url('../public/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Apply rules
div,
span,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
q,
s,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
nav {
  font-size: $regular;
  font-family: 'Gilroy', sans-serif;
}

h1 {
  font-size: $headline;
}

h2 {
  font-size: $large;
}
