/* Colors */
$white: #fff;
$black: #111;
$orange: #ef8220;
$dark-orange: #bf681a;
$darker-orange: #8f4e13;
$light-grey: #f4f7f9;
$dark-grey: #5d6066;
$green: #3bafa8;
$yellow: #fcd786;
$red: #d67b6e;
$line-color: rgba(244, 247, 249, 0.2);

/* Font Size */
$headline: 7.5rem;
$large: 3rem;
$regular: 2rem;
$small: 1.6rem;
